[MASTER]

# Formatter for sonarqube
# msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"

# Disable module and class docstring
disable=C0114,C0115
max-args=6
ignore=example,test,venv

[FORMAT]
max-line-length=120